<header class="layout__header">
  <nav class="navigation">
    <ul>
      <li><a class="link" href="/menu">Меню</a></li>
      <form class="form" method="get">
        <li><div class="switch-btn"></div></li>
      </form>
    </ul>
  </nav>
  <img width="400px" class="decoration" src="static\img\nice.png" alt="New Year">
</header>